<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Procedure__c" renderAs="pdf">

<!-- FIRST PART -->
	<table style="width: 700px; border-top: 3px solid #000000; border-left: 3px solid #000000; border-right: 3px solid #000000;" cellpadding="0">
		<tbody>
			<tr style="height: 20px;">
				<td style="text-align: center; font-size: 13px;" colspan="14"><strong>APPLICATION FOR VISA TRAVEL TO CUBA/APLICACI&Oacute;N DE VISAS PARA VIAJAR A CUBA</strong></td>
			</tr>
			<tr style="height: 7px;">
				<td style="width: 51px; font-size: 10px; height: 7px; vertical-align: top;">Tourist Visa/ Turistica</td>
				<td style="width: 127px; font-size: 10px; height: 7px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 10px; font-size: 10px; height: 7px; vertical-align: top;">(A-6) Event/ Eventos</td>
				<td style="width: 84px; font-size: 10px; height: 7px; vertical-align: top;">[<strong>X</strong>]</td>
				<td style="width: 31px; font-size: 10px; height: 7px; vertical-align: top;">(C) Guest/ Invitados</td>
				<td style="width: 101px; font-size: 10px; height: 7px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 195px; font-size: 10px; height: 38px; vertical-align: top;" rowspan="2">(D-2) Student and Scolarships program/ Estudiantes y programa de becas</td>
				<td style="width: 94px; font-size: 10px; height: 38px; vertical-align: top;" rowspan="2">[&nbsp; ]</td>
				<td style="width: 103px; font-size: 10px; height: 7px; vertical-align: top;">(D-3) Artist/ Artistas</td>
				<td style="width: 119px; font-size: 10px; height: 7px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 52px; font-size: 10px; height: 7px; vertical-align: top;">(D-6) Jounalists/ Periodistas</td>
				<td style="width: 140px; font-size: 10px; height: 7px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 147px; font-size: 10px; height: 7px; vertical-align: top;">(D-8) Religious/ Religiosos</td>
				<td style="width: 119px; font-size: 10px; height: 7px; vertical-align: top;">[&nbsp; ]</td>
			</tr>
			<tr style="height: 31px;">
				<td style="width: 51px; font-size: 10px; height: 31px; vertical-align: top;">A-2 (Non-redidents/&nbsp; Transe&uacute;ntes)</td>
				<td style="width: 127px; font-size: 10px; height: 31px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 10px; font-size: 10px; height: 31px; vertical-align: top;">(B) Diplomatic/ Diplom&aacute;ticas</td>
				<td style="width: 84px; font-size: 10px; height: 31px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 31px; font-size: 10px; height: 31px; vertical-align: top;">(D1) T&eacute;cnicos/ Technician</td>
				<td style="width: 101px; font-size: 10px; height: 31px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 103px; font-size: 10px; height: 31px; vertical-align: top;">(D-4) Athletes/ Deportistas</td>
				<td style="width: 119px; font-size: 10px; height: 31px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 52px; font-size: 10px; height: 31px; vertical-align: top;">(D-7) Business/ Negocios</td>
				<td style="width: 140px; font-size: 10px; height: 31px; vertical-align: top;">[&nbsp; ]</td>
				<td style="width: 147px; font-size: 10px; height: 31px; vertical-align: top;">(D-3) Other/ Otros</td>
				<td style="width: 119px; font-size: 10px; height: 31px; vertical-align: top;">[&nbsp; ]</td>
			</tr>
		</tbody>
	</table>
	<table style="height: 193px; border-width: 1px 3px 3px; border-style: solid; border-color: #000000; width: 700px;" cellpadding="0">
		<tbody>
			<tr style="height: 177px;">
				<td style="width: 207px; text-align: center; vertical-align: middle;">
					<table style="width: 191px; height: 177px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
						<tbody>
							<tr>
								<td style="border: none; text-align: center; padding-top: 50px; width: 183px;">PHOTOGRAPH<br /> FOTOGRAF&iacute;A<br /> (4&frac12; x 4&frac12;)</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td style="width: 225px; text-align: center; height: 177px;">
					<table style="width: 207px; margin-left: auto; margin-right: auto; border-collapse: collapse;">
						<tbody>
							<tr>
								<td style="border: 1px solid #000000; font-size: 10px; width: 197px;" colspan="3">Date of Birth/Fecha de Nacimiento</td>
							</tr>
							<tr>
								<td style="border: 1px solid #000000; width: 60px; font-size: 10px;">Day/D&iacute;a&nbsp;</td>
								<td style="border: 1px solid #000000; width: 60px; font-size: 10px;">Month/Mes</td>
								<td style="border: 1px solid #000000; width: 77px; font-size: 10px;">Year/A&ntilde;o&nbsp;</td>
							</tr>
							<tr>
								<td style="border: 1px solid #000000; width: 60px; font-size: 11px;">
                                    <apex:outputText value="{0}">
                                        <apex:param value="{!DAY(DATEVALUE(Procedure__c.LastModifiedDate))}"/>
                                    </apex:outputText>
                                </td>
								<td style="border: 1px solid #000000; width: 60px; font-size: 11px;">
                                    <apex:outputText value="{0}">
                                        <apex:param value="{!MONTH(DATEVALUE(Procedure__c.LastModifiedDate))}"/>
                                    </apex:outputText>
                                </td>
								<td style="border: 1px solid #000000; width: 77px; font-size: 11px;">
                                    <apex:outputText value="{0, number, 0}">
                                        <apex:param value="{!YEAR(DATEVALUE(Procedure__c.LastModifiedDate))}"/>
                                    </apex:outputText>
                                </td>
							</tr>
						</tbody>
					</table>
				</td>
				<td style="width: 250px; text-align: center;">
					<table style="width: 223px; height: 152px; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)">
						<tbody>
							<tr style="height: 29px;">
								<td style="width: 213px; height: 29px; font-size: 11px; border: 1px solid #000000;">
                                <apex:outputField value="{!Procedure__c.Numero_de_Pasaporte__c}"/>
                                </td>
							</tr>
							<tr style="height: 13px;">
								<td style="width: 213px; height: 13px; font-size: 10px; border: 1px solid #000000;">Passport Number/N&uacute;mero de Pasaporte&nbsp;</td>
							</tr>
							<tr style="height: 29px;">
								<td style="width: 213px; height: 29px; font-size: 11px; border: 1px solid #000000;">
                                    <apex:outputField value="{!Procedure__c.Expired_Passport_Issue_Country__c}"/>
                                </td>
							</tr>
							<tr style="height: 13px;">
								<td style="width: 213px; height: 13px; font-size: 10px; border: 1px solid #000000;">Place of Expedition/Lugar de expedici&oacute;n</td>
							</tr>
							<tr style="height: 29px;">
								<td style="width: 213px; height: 29px; font-size: 11px; border: 1px solid #000000;">
                                     <apex:outputField value="{!Procedure__c.Expired_Passport_Issue_Date__c}"/>
                                </td>
							</tr>
							<tr style="height: 15px;">
								<td style="width: 213px; height: 15px; font-size: 10px; border: 1px solid #000000;">Date of Expedition/Fecha de expedici&oacute;n&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<!-- /FIRST PART -->

<!-- SECOND PART -->
	<table style="width: 700px; border-left: 3px solid #000000; border-right: 3px solid #000000;">
		<tbody>
			<tr>
				<td style="font-size: 12px; font-weight: bold;" colspan="9">
					First and last name as it appears on your passport (Nombre y dos apellidos como aparecen en su pasaporte)
				</td>
			</tr>
			<tr>
				<td style="width: 190px; height: 2px; font-size: 10px; text-align: center;" colspan="2">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Last_Name__c}"/>
                    </p>
					<hr style="width: 155px;" align="center" />
					First Last Name/Primer apellido
				</td>
				<td style="width: 240px; height: 2px; font-size: 10px; text-align: center;" colspan="3">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Second_Last_Name__c}"/>
                    </p>
					<hr style="width: 155px;" align="center" />
					Second Last Name/Segundo apellido
				</td>
				<td style="width: 47px; height: 2px; font-size: 10px; text-align: center;" colspan="2">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.First_Name__c}"/>
                    </p>
					<hr style="width: 155px;" align="center" />
					First Name/ Primer nombre
				</td>
				<td style="width: 215px; height: 2px; font-size: 10px; text-align: center;" colspan="2">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Middle_Name__c}"/>
                    </p>
					<hr style="width: 140px;" align="center" />
					Second Name/ Segundo nombre
				</td>
			</tr>
		</tbody>
	</table>
	<table style="border-collapse: collapse; margin-left: 1.5px; width: 697px;">
		<tbody>
			<tr style="height: 10px;">
				<td style="border-left: 3px solid #000000; width: 76px; height: 45px; font-size: 10px; border-top: 1px solid #000000; border-bottom: 1px solid #000000; text-align: center;" rowspan="2">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Father_Name__c}"/>
                    </p>
					<hr align="left" />
					Father/Padre and/ y
				</td>
				<td style="width: 87px; height: 45px; font-size: 10px; border-top: 1px solid #000000; border-bottom: 1px solid #000000; text-align: center;" rowspan="2">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Mother_Name__c}"/>
                    </p>
					<hr align="left" />
					Mother/<br />Madre
				</td>
				<td style="width: 75px; font-size: 10px; border: 1px solid #000000; text-align: center; height: 45px;" rowspan="2">
					<p style="font-size: 11px; line-height: 1px;">
                          <apex:outputField value="{!Procedure__c.Height__c}"/>
                    </p>
					<hr align="left" />
					Height/ Estatura(cm)
				</td>
				<td style="width: 53px; font-size: 10px; border: 1px solid #000000; vertical-align: top; height: 10px;" scope="row"><strong>Gender/ Sexo</strong></td>
				<td style="width: 95px; height: 10px; font-size: 10px; border: 1px solid #000000; vertical-align: top;" scope="row"><strong>Eye color/ Color ojos</strong></td>
				<td style="width: 126.5px; font-size: 10px; border: 1px solid #000000; vertical-align: top; height: 10px;" colspan="2" scope="row"><strong>Skin color/ Color piel</strong></td>
				<td style="width: 158.5px; font-size: 10px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: #000000; vertical-align: top; height: 10px;" colspan="2" scope="row"><strong>Hair color/ Color cabello</strong></td>
			</tr>
			<tr style="height: 30px;">
				<td style="border-bottom: 3px solid #000000; width: 53px; font-size: 10px; vertical-align: top; height: 52px;" rowspan="2">
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Gender__c='Masculino','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Male/ Masculino
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Gender__c='Femenino','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>]Female/ Femenino
                    </p>
				</td>
				<td style="border-bottom: 3px solid #000000; border-left: 1px solid #000000; width: 95px; font-size: 10px; vertical-align: top; height: 52px;" rowspan="2">
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Eyes_Color__c='Claros','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Blue Green/ Claros
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Eyes_Color__c='Negros','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Black/ Negros
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Eyes_Color__c='Pardos','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Brown/Pardos
                    </p>
				</td>
				<td style="border-bottom: 3px solid #000000; border-left: 1px solid #000000; width: 64px; height: 52px; font-size: 10px; vertical-align: top;" rowspan="2">
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Skin_Color__c='Blanca','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] White/ Blanca
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Skin_Color__c='Albina','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] &nbsp; Albino/ Albina
                    </p>
				</td>
				<td style="border-bottom: 3px solid #000000; border-left: 1px solid #000000; width: 62.5px; height: 52px; font-size: 10px; vertical-align: top;" rowspan="2">
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Skin_Color__c='Negra','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Black/ Negra
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Skin_Color__c='Amarilla','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Yellow/ Amarilla
                    </p>
				</td>
				<td style="border-bottom: 3px solid #000000; border-left: 1px solid #000000; width: 81.5px; height: 52px; font-size: 10px; vertical-align: top;" rowspan="2">
					<p>
                         [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Hair_Color__c='Canoso','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Grey-haried/ Canoso
                    </p>
					<p>
                         [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Hair_Color__c='Negro','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Black/ Negro
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Hair_Color__c='Rubio','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>]  Blond/Rubio
                    </p>
				</td>
				<td style="border-right: 3px solid #000000; border-bottom: 3px solid #000000; border-left: 1px solid #000000; width: 77px; height: 52px; font-size: 10px; vertical-align: top;" rowspan="2">
					<p> 
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Hair_Color__c='Castaño','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Brown/ Casta&ntilde;o
                    </p>
					<p> 
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Hair_Color__c='Rojo','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Red/ Rojo
                    </p>
					<p>
                        [<strong>
                            <apex:outputText escape="false" value="{0}">
                                <apex:param value="{!IF(Procedure__c.Hair_Color__c='Rojo','X','&nbsp;')}"/>
                            </apex:outputText>
                        </strong>] Other/Otro
                    </p>
				</td>
			</tr>
			<tr style="height: 17px;">
				<td style="border-bottom: 3px solid #000000; border-left: 3px solid #000000; width: 163px; height: 17px; font-size: 10px; border-right: 1px solid #000000; text-align: center;" colspan="2">
					<p style="font-size: 11px; line-height: 1px;">&nbsp;</p>
					<hr align="center" />
					Parent's place of birth/ Lugar de nacimiento de los padres
				</td>
				<td style="width: 75px; height: 17px; font-size: 10px; border-width: 1px 1px 3px; border-style: solid; border-color: #000000; border-image: initial; text-align: center;">
					<p style="font-size: 11px; line-height: 1px;">&nbsp;</p>
					<hr align="center" />
					Marital status/ Estado civil
				</td>
			</tr>
		</tbody>
	</table>
<!-- /SECOND PART -->

<!-- THIRD PART -->
	<table style="width: 700px; border-left: 3px solid #000000; border-right: 3px solid #000000; border-bottom: 3px solid #000000;">
		<tbody>
			<tr>
				<td style="font-size: 12px; font-weight: bold; height: 14px; width: 647px;" colspan="4">Place or birth/ Lugar de nacimiento</td>
			</tr>
			<tr>
				<td style="width: 108px; font-size: 11px; text-align: center;">
					<p style="font-size: 11px; line-height: 1px;">
                         <apex:outputField value="{!Procedure__c.Birth_Country__c}"/>
                     </p>
					<hr align="left" />
					Country/Pa&iacute;s
				</td>
				<td style="width: 148px; font-size: 11px; text-align: center;">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Birth_Province__c}"/>
                    </p>
					<hr align="left" />
					Province (state)/Provincia
				</td>
				<td style="width: 170px; font-size: 11px; text-align: center;">
					<p style="font-size: 11px; line-height: 1px;">
                        <apex:outputField value="{!Procedure__c.Birth_Municipality_City__c}"/>    
                    </p>
					<hr align="left" />
					Locality, City/Municipio/Ciudad
				</td>
				<td style="width: 221px; text-align: right;">
					<table style="width: 207px; margin-left: auto; margin-right: 0; border-collapse: collapse;">
						<tbody>
							<tr>
								<td style="border: 1px solid #000000; font-size: 10px; width: 197px; text-align: center;" colspan="3">Date of Application/Fecha de Solicitud</td>
							</tr>
							<tr>
								<td style="border: 1px solid #000000; width: 60px; font-size: 10px; text-align: center;">Day/D&iacute;a&nbsp;</td>
								<td style="border: 1px solid #000000; width: 60px; font-size: 10px; text-align: center;">Month/Mes</td>
								<td style="border: 1px solid #000000; width: 77px; font-size: 10px; text-align: center;">Year/A&ntilde;o&nbsp;</td>
							</tr>
							<tr>
								<td style="border: 1px solid #000000; width: 60px; font-size: 10px; text-align: center;">
                                    <apex:outputText value="{0}">
                                        <apex:param value="{!DAY(Procedure__c.Birthday__c)}"/>
                                    </apex:outputText>
                                </td>
								<td style="border: 1px solid #000000; width: 60px; font-size: 10px; text-align: center;">
                                    <apex:outputText value="{0, number, 0}">
                                        <apex:param value="{!MONTH(Procedure__c.Birthday__c)}"/>
                                    </apex:outputText></td>
								<td style="border: 1px solid #000000; width: 77px; font-size: 10px; text-align: center;">
                                    <apex:outputText value="{0, number, 0}">
                                        <apex:param value="{!YEAR(Procedure__c.Birthday__c)}"/>
                                    </apex:outputText>
                                </td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<!-- /THIRD PART -->

<!-- FOURTH PART -->
	<table style="width: 697px; border-top: 3px solid #000000; border-left: 3px solid #000000; border-right: 3px solid #000000; margin-left: 1.5px; border-collapse: collapse;" cellpadding="0">
		<tbody>
			<tr>
				<td style="padding-left: 3px; border-left: 3px solid #000000; font-size: 12px; font-weight: bold; text-align: left; vertical-align: bottom; height: 18px;" colspan="2">Place of current residence / Lugar de Residencia actual:&nbsp;&nbsp;</td>
				<td style="padding-left: 3px; width: 500.5px; vertical-align: bottom;">&nbsp;</td>
				<td style="padding-left: 3px; border-right: 3px solid #000000; border-left: 1px solid #000000; vertical-align: bottom;">&nbsp;</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-left: 3px solid #000000; border-bottom: 1px solid #000000; font-size: 10px; vertical-align: bottom;" colspan="3">
					<span style="font-weight: bold;">
                         <apex:outputField value="{!Procedure__c.Street__c}"/>
                    </span><br/>
					Home address/Direcci&oacute;n (Street, Calle, Ave, No., Apto)
				</td>
				<td style="padding-left: 3px; border-left: 1px solid; border-right: 3px solid; font-size: 10px; width: 436px; vertical-align: bottom;">
					<span style="font-weight: bold;">
                          <apex:outputField value="{!Procedure__c.Postal_Code__c}"/>
                    </span><br/>
					Zip Code / C&oacute;digo Postal
				</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-left: 3px solid #000000; font-size: 10px; vertical-align: bottom;" colspan="3">
					<span style="font-weight: bold;">
                         <apex:outputField value="{!Procedure__c.State__c}"/>
                    </span><br/>
					Province/Provincia - State/Estado - Region/Regi&oacute;n
				</td>
				<td style="padding-left: 3px; border: 1px solid #000000; width: 436px; font-size: 10px; vertical-align: bottom;">
					<span>
                        <apex:outputField value="{!Procedure__c.Residence_Country__c}"/>
                    </span><br/>
					Pa&iacute;s/Country
				</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-bottom: 1px solid #000000; border-top: 1px solid #000000; border-left: 3px solid #000000; width: 597px; font-size: 10px; vertical-align: bottom;">
					<span style="font-weight: bold;">
                       <apex:outputField value="{!Procedure__c.Phone__c}"/>
                    </span><br/>
					Telephone/Tel&eacute;fono
				</td>
				<td style="padding-left: 3px; border: 1px solid #000000; width: 820.5px; font-size: 10px; vertical-align: bottom;">
					<span style="font-weight: bold;">&nbsp;</span><br/>
					Fax
				</td>
				<td style="padding-left: 3px; border: 1px solid #000000; font-size: 10px; vertical-align: bottom;" colspan="2">
					<span style="font-weight: bold;">
                    <apex:outputText value="{0}">
                          <apex:param value="{!Procedure__c.Email__c}"/>
                     </apex:outputText>
                    </span><br/>
					E-mail
				</td>
			</tr>
		</tbody>
	</table>
<!-- /FOURTH PART -->

<!-- FIFTH PART -->
	<table style="width: 697px; border-left: 3px solid #000000; border-right: 3px solid #000000; margin-left: 1.5px; border-collapse: collapse;" cellpadding="0">
		<tbody>
			<tr style="height: 17px;">
				<td style="padding-left: 3px; border-top: 3px solid #000000; border-left: 3px solid #000000; width: 866px; font-size: 12px; font-weight: bold; height: 17px; text-align: left; vertical-align: bottom;" colspan="2">Education of Work information-Datos Laborales o de Estudio actual:&nbsp;&nbsp;</td>
				<td style="border-top: 3px solid #000000; border-left: 1px solid #000000; padding-left: 3px; width: 146px;">&nbsp;</td>
				<td style="border-top: 3px solid #000000; border-right: 3px solid #000000; border-left: 1px solid #000000; width: 245px;">&nbsp;</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-left: 3px solid #000000; border-bottom: 1px solid #000000; font-size: 10px; height: 18px; vertical-align: bottom; width: 866px;" colspan="2">
                    <span style="font-weight: bold;">
                       <apex:outputField value="{!Procedure__c.Work_Name__c}"/>                                                                                                                                                                                             
                    </span>
                    <br /> Workplace name/Nombre de Centro de Trabajo/Study/Estudio
                </td>
				<td style="padding-left: 3px; border-left: 1px solid #000000; border-bottom: 1px solid #000000; font-size: 10px; width: 146px; vertical-align: bottom;">
                    <span style="font-weight: bold;">
                        <apex:outputField value="{!Procedure__c.Profession__c}"/> 
                    </span>
                    <br /> Profession/Profesi&oacute;n
                </td>
				<td style="padding-left: 3px; border-bottom: 1px solid #000000; border-left: 1px solid; border-right: 3px solid; font-size: 10px; width: 245px; vertical-align: bottom;">
                    <span style="font-weight: bold;">
                        <apex:outputField value="{!Procedure__c.Title__c}"/> 
                    </span>
                    <br /> Ocupation/Ocupaci&oacute;n&nbsp;
                </td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-left: 3px solid #000000; border-bottom: 1px solid #000000; font-size: 10px; width: 1012px; vertical-align: bottom;" colspan="3">
                    <span style="font-weight: bold;">
                        <apex:outputField value="{!Procedure__c.Work_Street__c}"/> 
                    </span>
                    <br /> Work address/Direcci&oacute;n (Street, Calle, Ave, No., Apto)
                </td>
				<td style="padding-left: 3px; border-left: 1px solid; border-right: 3px solid; font-size: 10px; width: 245px; vertical-align: bottom;">
                    <span style="font-weight: bold;">
                        <apex:outputField value="{!Procedure__c.Work_Postal_Code__c}"/>
                    </span>
                    <br /> Zip Code / C&oacute;digo Postal
                </td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-left: 3px solid #000000; font-size: 10px; vertical-align: bottom; width: 1012px;" colspan="3">
                    <span style="font-weight: bold;">
                        <apex:outputField value="{!Procedure__c.Work_State__c}"/>
                    </span>
                    <br /> Province/Provincia - State/Estado - Region/Regi&oacute;n
                </td>
				<td style="padding-left: 3px; border: 1px solid #000000; width: 245px; font-size: 10px; vertical-align: bottom;">
                    <span style="font-weight: bold;">
                        <apex:outputField value="{!Procedure__c.Work_Country__c}"/>
                    </span>
                    <br /> Pa&iacute;s/Country
                </td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-top: 1px solid #000000; border-left: 3px solid #000000; font-size: 10px; vertical-align: bottom; width: 393.5px;">
                    <span style="font-weight: bold;">
                          <apex:outputField value="{!Procedure__c.Work_Phone__c}"/>
                    </span>
                    <br /> Telephone/Tel&eacute;fono
                </td>
				<td style="padding-left: 3px; border-left: 1px solid #000000; font-size: 10px; vertical-align: bottom; width: 472.5px;">
                    <span style="font-weight: bold;">
                        &nbsp;
                    </span>
                    <br /> Fax
                </td>
				<td style="padding-left: 3px; border-right: 3px solid #000000; border-left: 1px solid #000000; width: 391px; font-size: 10px; vertical-align: bottom;" colspan="2">
                    <span style="font-weight: bold;">
                        <apex:outputText value="{0}">
                           <apex:param value="{!Procedure__c.Work_Email__c}"/>
                        </apex:outputText>
                     </span>
                    <br /> E-mail
                </td>
			</tr>
		</tbody>
	</table>
<!-- /FIFTH PART -->

<!-- SIXTH PART -->
	<table style="width: 697px; border-left: 3px solid #000000; border-right: 3px solid #000000; margin-left: 1.5px; border-collapse: collapse;" cellpadding="0">
		<tbody>
			<tr style="height: 34px;">
				<td style="padding-left: 3px; border-top: 3px solid #000000; border-right: 3px solid #000000; border-left: 3px solid #000000; font-size: 12px; font-weight: bold; text-align: left; vertical-align: top;" colspan="2">
					Address you will stay in Cuba/Direcci&oacute;n donde estar&aacute; en Cuba:<br/>
					<span style="font-size: 10px; font-weight: normal;">
                        &nbsp;
                    </span>
				</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-width: 1px 3px; border-style: solid; border-color: #000000; width: 709px; font-size: 12px; font-weight: bold; height: 34px; text-align: left; vertical-align: top;" colspan="2">
					Name and surnames of the person you will visit in Cuba/Nombre y apellidos de la persona a visitar en Cuba:<br/>
					<span style="font-size: 10px; font-weight: normal;">Ana</span>
				</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-bottom: 1px solid #000000; border-top: 1px solid #000000; border-left: 3px solid #000000; font-size: 12px; font-weight: bold; height: 34px; text-align: left; vertical-align: top;">
					Purpose of your trip/Motivos de viaje:<br/>
					<span style="font-size: 10px; font-weight: normal;">&nbsp;</span>
				</td>
				<td style="padding-left: 3px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: #000000; font-size: 12px; font-weight: bold; height: 34px; text-align: left; vertical-align: top;">
					Lenght of stay/Tiempo de estancia:<br/>
					<span style="font-size: 10px; font-weight: normal;">&nbsp;</span>
				</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-bottom: 1px solid #000000; border-top: 1px solid #000000; border-left: 3px solid #000000; font-size: 12px; font-weight: bold; height: 34px; text-align: left; vertical-align: top;">
					Place and date of your departure for Cuba/Lugar y fecha de salida para Cuba:<br/>
					<span style="font-size: 10px; font-weight: normal;">&nbsp;</span>
				</td>
				<td style="padding-left: 3px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: #000000; font-size: 12px; font-weight: bold; height: 34px; text-align: left; vertical-align: top;">
					Place and date of your arrival in Cuba/Lugar y fecha de su llegada a Cuba:<br/>
					<span style="font-size: 10px;">&nbsp;</span>
				</td>
			</tr>
			<tr>
				<td style="padding-left: 3px; border-width: 1px 3px 3px; border-style: solid; border-color: #000000; font-size: 12px; font-weight: bold; text-align: left; vertical-align: top;" colspan="2">
					Have you visited Cuba before, When, Addressand purpose/Ha estado anteriormente en Cuba, cu&aacute;ndo, direcci&oacute;n y motivo<br/>
					<span style="font-size: 10px; font-weight: normal;">&nbsp;</span><br/><br/>
				</td>
			</tr>
		</tbody>
	</table>
<!-- /SIXTH PART -->

</apex:page>